extends layout.pug

block content
    div.d-flex.flex-column.aling-items-center.justify-content-center.w-100
        h1 Créer une newsletter



    hr
    div(class="row mb-2")
            h1 Liste de mes adresses email
            hr
    div(class="d-flex flex-row content mx-auto")
        div(class="profile-container")
            div(class="flex-fill d-flex flex-column")
                if newsletters
                    each newsletter in newsletters
                        div(class="card tweet-element")
                            div(class="card-body")= newsletter.content
