extends layout.pug

block content

    div(class="row mb-2")
        if products
            each product in products
                div(class="col-md-6")
                    div(class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative")
                        div(class="col p-4 d-flex flex-column position-static")
                            strong(class="d-inline-block mb-2 text-primary") World
                            h3(class="mb-0")= product.title
                            div(class="mb-1 text-muted")= product.quantity
                            p(class="card-text mb-auto")= product.description
                            a(href="#" class="stretched-link") Continue reading

                        div(class="col-auto d-none d-lg-block")
